/* Slides */

.really-large-title {
  font-size: 72px;
}

openingslide > box {
  border-spacing: 24px;
}

bulletpointslide .bullets {
  font-size: 48px;
  line-height: 2em;
}

/* Scrolled window */
scrolledwindow.shadow-when-scroll undershoot.top {
  box-shadow: inset 0px 5px 14px -14px rgba(0,0,0,.9);
}

scrolledwindow.bottom-shadow-when-scroll undershoot.bottom {
  box-shadow: inset 0px -5px 14px -14px rgba(0,0,0,.9);
}

/* Thumbnail */
slidethumbnail {
  box-shadow: 0 0 0 1px alpha(black, 0.05),
              0 1px 3px 1px alpha(black, .15),
              0 2px 6px 2px alpha(black, .05);
}

/* Navigator */
navigatoritem {
  min-width: 96px;
  min-height: 96px;
  padding: 6px;
}

navigator {
  box-shadow: inset 0px 8px 12px -12px rgba(0,0,0,.9);
}

navigator listview {
  background-color: transparent;
}

navigator listview > row:selected {
  background-color: transparent;
}

navigator listview > row navigatoritem slidethumbnail {
  transition: transform 150ms, filter 150ms;
}

navigator listview > row:hover navigatoritem slidethumbnail {
  filter: brightness(115%);
  transform: scale(1.05);
  transition: 150ms;
}

navigator listview > row:selected navigatoritem slidethumbnail {
  outline: solid 2px @accent_bg_color;
  outline-offset: 2px;
  border-radius: 2px;
}

/* Editable picture */
editablepicture {
  border-radius: 12px;
}

editablepicture.editable {
  outline: dashed 2px @borders;
}

pictureslide editablepicture.editable {
  outline-offset: -6px;
}
